/* Sets standard for entire page */
body
{

background-color: black;
color: white;
font-family: verdana, arial;
text-align: center;
}

/* Text */
h1 {
background-color: hsl(0, 0%, 0%);
font-size: 60px;
border: 6px solid hsl(0, 0%, 100%);
border-radius: 10px;
padding: 3px;
transform: translateY(-30px);
}

h2 {
font-size: 50px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 50px;
}

h5 {
    font-size: 50px;
}

h6 {
    font-size: 50px;
}

p {
    font-size: 50px;
}

.textGoal p {
font-size: 30px;
position: relative;
transform: translate(100px 10px);
}

.textBottom {
position: relative;
transform: translateY(300px);
}

/* Navigation Bar */
.nav ul {
background-color: hsl(50, 50%, 50%);
}

.navBox {
color: white;
}

.navbar a{
color: white;
text-decoration: none;
display: block;
border: 6px solid hsl(0, 0%, 100%);
border-radius: 10px;
padding: 10px;
margin: 5px;
overflow: auto;
width: 100px;
}

.navbar li {
display: inline-block;
}

/* Anchor */
a {
color: white;
}

a:visited {
color: white;
text-decoration: none;
}

/* Lists */
ul {
list-style-type: none;
}

/* Images */
.imageLogo {
float: center;
}